@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,h2,p {
  margin-top: 0;
  margin-bottom:0 ;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

img {
  width: 100%;
}
